{% extends 'base.html' %}
{% block title %}
    USRH's Data Warehouse 
{% endblock %}

{% block content %}
        <div class="main-title">
        <h2>Data Warehouse Dashboard</h2>
        <!-- <p>Lets start building a beautiful datawarehouse dashboard to display the Number of Graduates based on the fact tables dimensions.</p> -->
        </div>
        
        <div class="main-subtitle">
        <h2>OLAP Operations Query Builder</h2>
        <!-- <p>Lets start building a beautiful datawarehouse dashboard to display the Number of Graduates based on the fact tables dimensions.</p> -->
        </div>

        <!-- <div class="main-cards">

        <div class="card">
            <div class="card-inner">
            <h3>Commands</h3>
            <span class="material-icons-outlined">inventory_2</span>
            </div>
        </div>

        <div class="card">
            <div class="card-inner">
            <h3>Dimensions</h3>
            <span class="material-icons-outlined">table_chart</span>
            </div>
        </div> -->

        <!-- <div class="card">
            <div class="card-inner">
            <h3>OLAP</h3>
            </div>
            
        </div> -->

        <div class="fact-table-cards">

            <div class="selection-card">
            <h2 class="selection-title">Fact Table</h2>
            <!-- <span class="material-icons-outlined">add_chart</span> -->
            <div class="card-inner">
                <h6>Choose Fact Table:</h6> <button type="button" class="btn btn-outline-primary">select</button>
                <h6>Choose Desired Fact:</h6> <button type="button" class="btn btn-outline-primary">select</button>
            </div>
            
            </div>
        <!-- 
            <div class="selection-card">
            <div class="card-inner">
                <h3>OLAP</h3>
                <span class="material-icons-outlined">cards</span>
            </div>
            <h1>Choose OLAP Operation(s):</h1> <button type="button" class="btn btn-outline-primary">select</button>
            <h6>Roll-Up, Dice, Slice, Pivot</h6>
            </div>
        </div> -->

        <div class="olap-cards">

            <div class="olap-card">
            <h2 class="olap-title">OLAP Command </h2>
            <!-- <span class="material-icons-outlined">add_chart</span> -->
            <div class="card-inner">
                <h6>Choose OLAP Operation(s):</h6> <button type="button" class="btn btn-outline-primary">select</button>
                <h6>Choose Dimension(s):</h6> <button type="button" class="btn btn-outline-primary">select</button>
                <h6>choose footsteps:</h6> <button type="button" class="btn btn-outline-primary">select</button>
            </div>

            </div>
            
            <div class="olap-card">
            <h2 class="olap-title"> Major Footsteps</h2>
            <!-- <span class="material-icons-outlined">add_chart</span>
            <div class="card-inner">
                <div>   
                {% for major in majors %}
                    <div>{{major['major_name']}}</div>  
                {% endfor %}
                </div>
            </div> -->
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Select Major
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for major in majors %}
                    <li><a class="dropdown-item" href="#">{{ major['major_name'] }}</a></li>
                {% endfor %}
                </ul>
            </div>
            </div>

            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Select Major
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for major in majors %}
                <li><a class="dropdown-item" href="#">{{ major['major_name'] }}</a></li>
                {% endfor %}
            </ul>
            </div>
        </div>
        
        </div>
    <!-- End Main -->
    </main>
{% endblock %}
