{% extends 'base.html' %}
{% block title %}
    USRH's Data Warehouse 
{% endblock %}

{% block content %}
        <div class="main-title">
            <h2>Data Warehouse Dashboard</h2>
        <!-- <p>Lets start building a beautiful datawarehouse dashboard to display the Number of Graduates based on the fact tables dimensions.</p> -->
        </div>
        
        <div class="main-subtitle">
            <h2>OLAP Operations Query Builder</h2>
            <!-- <p>Lets start building a beautiful datawarehouse dashboard to display the Number of Graduates based on the fact tables dimensions.</p> -->
        </div>

        <!-- Form Section -->
        <form action="/dashboard" method="post">
            <!-- Dropdowns for selecting fields -->
            <div class="olap-cards">
                <div class="olap-card form-group">
                <h6 class="olap-title">Choose the Olap Operation to find your desired result.
                    You will also be able to choose the dimensions 
                    and the desired attributes and values depending on your query at hand.
                </h6>
                    <div class="card-inner row">
                          
                    </div>   
                </div>
            </div>
            <div class="olap-cards">
                <div class="olap-card form-group">
                    <div class="card-inner row">
                        <div class="row col-3">
                            <button type="button" class="btn btn-outline-secondary" name="operationType" value="Roll Up" onclick="addRollUpCard()">Add Roll Up OLAP Operation</button>
                        </div>
                        <div class="row col-3">
                            <button type="button" class="btn btn-outline-secondary" name="operationType" value="Roll Down" onclick="addRollDownCard()">Add Roll Down OLAP Operation</button>
                        </div>
                        <div class="row col-2">
                            <button type="button" class="btn btn-outline-secondary" name="operationType" value="Dice" onclick="addDiceCard()">Add Dice OLAP Operation</button>
                        </div>
                        <div class="row col-2">
                            <button type="button" class="btn btn-outline-secondary" name="operationType" value="Slice" onclick="addSliceCard()">Add Slice OLAP Operation</button>
                        </div>
                        <div class="row col-2">
                            <button type="button" class="btn btn-outline-secondary" name="operationType" value="Pivot" onclick="addPivotCard()">Add Pivot OLAP Operation</button>
                        </div>
                    </div>
                </div>
            </div> 
            
            <!-- <div class="form-group">
                <label for="desiredFact">Choose Desired Fact:</label>
                <select class="form-select" id="desiredFact" name="desiredFact">
                    Populate options dynamically
                    <option value="desired_fact_1">Desired Fact 1</option>
                    <option value="desired_fact_2">Desired Fact 2</option>
                    Add more options as needed
                </select>
            </div>  -->
            <!-- Add more dropdowns for OLAP operations, dimensions, etc. -->

            <!-- Submission button -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <!-- End of Form Section -->
    <!-- End Main -->
    </main>
    
    <script>
        function addRollUpCard() {
            var olapCards = document.querySelector('.olap-cards');
    
            var newCard = document.createElement('div');
            newCard.classList.add('olap-card', 'form-group');
    
            var cardContent = `
                {% include 'rollUp.html' %}
            `;
            newCard.innerHTML = cardContent;
    
            olapCards.appendChild(newCard);
        }

        function addRollDownCard() {
            var olapCards = document.querySelector('.olap-cards');
    
            var newCard = document.createElement('div');
            newCard.classList.add('olap-card', 'form-group');
    
            var cardContent = `
                {% include 'rollDown.html' %}
            `;
            newCard.innerHTML = cardContent;
    
            olapCards.appendChild(newCard);
        }

        function addDiceCard() {
            var olapCards = document.querySelector('.olap-cards');
    
            var newCard = document.createElement('div');
            newCard.classList.add('olap-card', 'form-group');
    
            var cardContent = `
                {% include 'dice.html' %}
            `;
            newCard.innerHTML = cardContent;
    
            olapCards.appendChild(newCard);
        }
        
        function addSliceCard() {
            var olapCards = document.querySelector('.olap-cards');
    
            var newCard = document.createElement('div');
            newCard.classList.add('olap-card', 'form-group');
    
            var cardContent = `
                {% include 'slice.html' %}
            `;
            newCard.innerHTML = cardContent;
    
            olapCards.appendChild(newCard);
        }

        function addPivotCard() {
            var olapCards = document.querySelector('.olap-cards');
    
            var newCard = document.createElement('div');
            newCard.classList.add('olap-card', 'form-group');
    
            var cardContent = `
                {% include 'pivot.html' %}
            `;
            newCard.innerHTML = cardContent;
    
            olapCards.appendChild(newCard);
        }
    </script>
{% endblock %}
