{% extends 'base.html' %}
{% block title %}
    USRH's Data Warehouse 
{% endblock %}

{% block content %}
        <div class="main-title">
            <h2>Data Warehouse Dashboard</h2>
        <!-- <p>Lets start building a beautiful datawarehouse dashboard to display the Number of Graduates based on the fact tables dimensions.</p> -->
        </div>
        
        <div class="main-subtitle">
            <h2>OLAP Operations Query Builder</h2>
            <!-- <p>Lets start building a beautiful datawarehouse dashboard to display the Number of Graduates based on the fact tables dimensions.</p> -->
        </div>

        <!-- Form Section -->
        <form action="/submit" method="post">
            <!-- Dropdowns for selecting fields -->
            <div class="olap-cards">
                <div class="olap-card form-group">
                <h2 class="olap-title">OLAP Command and Dimension Selection</h2>
                    <div class="card-inner row">
                        <div class="col-3">
                            <label for="olapCommand">Choose OLAP Operation(s):</label>
                            <select class="form-select btn btn-secondary btn-sm" id="olapCommands" name="olapCommands">
                                <option selected>select</option>
                                {% for olap in olap_commands %}
                                    <option value="{{ olap['olap_id'] }}">{{ olap['olap_command'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-3">
                            <label for="dimensionSelection">Choose Dimension(s):</label>
                            <select class="form-select btn btn-secondary btn-sm" id="dimensionSelection" name="dimensionSelection">
                                <option selected>select</option>
                                {% for table_name in table_names %}
                                    <option value="{{ table_name }}">{{ table_name }}</option>
                                {% endfor %}
                            </select>
                            <!-- <div class="row col-3">
                                <button type="button" class="btn btn-outline-secondary">Add Dimension</button>
                            </div>     -->
                        </div>
                        
                        <div class="col-3">
                            <label for="dimFootsteps">Choose Dimension Footsteps:</label>
                            <select class="form-select btn btn-secondary btn-sm" id="dimFootsteps" name="dimFootsteps">
                                <option selected>select</option>
                                {% for row in footsteps %}
                                    {% for key, value in row.items() %}
                                        <option value="{{ key }}">{{ key }}</option>
                                    {% endfor %}
                                    <!-- <option value="{{ step }}">{{ step }}</option> -->
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="col-3">
                            <label for="dimFootsteps">Choose Dimension Footsteps:</label>
                            <select class="form-select btn btn-secondary btn-sm" id="dimFootsteps" name="dimFootsteps">
                                <option selected>select</option>
                                {% for row in footsteps %}
                                    {% for key, value in row.items() %}
                                        <option value="{{ key }}">{{ key }}</option>
                                    {% endfor %}
                                    <!-- <option value="{{ step }}">{{ step }}</option> -->
                                {% endfor %}
                            </select>
                        </div>   
                    </div>   
                </div>
            </div>
            <div class="olap-cards">
                <div class="olap-card form-group">
                    <div class="card-inner row">
                        <div class="row col-3">
                            <button type="button" class="btn btn-outline-secondary" onclick="addRollUpCard()">Add Roll Up OLAP Operation</button>
                        </div>
                        <div class="row col-3">
                            <button type="button" class="btn btn-outline-secondary" onclick="addRollDownCard()">Add Roll Down OLAP Operation</button>
                        </div>
                        <div class="row col-2">
                            <button type="button" class="btn btn-outline-secondary" onclick="addDiceCard()">Add Dice OLAP Operation</button>
                        </div>
                        <div class="row col-2">
                            <button type="button" class="btn btn-outline-secondary" onclick="addSliceCard()">Add Slice OLAP Operation</button>
                        </div>
                        <div class="row col-2">
                            <button type="button" class="btn btn-outline-secondary" onclick="addPivotCard()">Add Pivot OLAP Operation</button>
                        </div>
                    </div>
                </div>
            </div> 
            
            <!-- <div class="form-group">
                <label for="desiredFact">Choose Desired Fact:</label>
                <select class="form-select" id="desiredFact" name="desiredFact">
                    Populate options dynamically
                    <option value="desired_fact_1">Desired Fact 1</option>
                    <option value="desired_fact_2">Desired Fact 2</option>
                    Add more options as needed
                </select>
            </div>  -->
            <!-- Add more dropdowns for OLAP operations, dimensions, etc. -->

            <!-- Submission button -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <!-- End of Form Section -->
    <!-- End Main -->
    </main>
    
    <script>
        function addRollUpCard() {
            var olapCards = document.querySelector('.olap-cards');
    
            var newCard = document.createElement('div');
            newCard.classList.add('olap-card', 'form-group');
    
            var cardContent = `
                <h2 class="olap-title">Roll UP Command and Dimension Selection</h2>
                <div class="card-inner row">
                    <div class="col-3">
                        <label for="dimensionSelection">Choose Dimension(s):</label>
                        <select class="form-select btn btn-secondary btn-sm" id="dimensionSelection" name="dimensionSelection">
                            <option selected>select</option>
                            {% for table_name in table_names %}
                                <option value="{{ table_name }}">{{ table_name }}</option>
                            {% endfor %}
                        </select>
                        <!-- <div class="row col-3">
                            <button type="button" class="btn btn-outline-secondary">Add Dimension</button>
                        </div>     -->
                    </div>
                    
                    <div class="col-3">
                        <label for="dimFootsteps">Choose Dimension Footsteps:</label>
                        <select class="form-select btn btn-secondary btn-sm" id="dimFootsteps" name="dimFootsteps">
                            <option selected>select</option>
                            {% for row in footsteps %}
                                {% for key, value in row.items() %}
                                    <option value="{{ key }}">{{ key }}</option>
                                {% endfor %}
                                <!-- <option value="{{ step }}">{{ step }}</option> -->
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="col-3">
                        <label for="dimFootsteps">Choose Dimension Footsteps:</label>
                        <select class="form-select btn btn-secondary btn-sm" id="dimFootsteps" name="dimFootsteps">
                            <option selected>select</option>
                            {% for row in footsteps %}
                                {% for key, value in row.items() %}
                                    <option value="{{ key }}">{{ key }}</option>
                                {% endfor %}
                                <!-- <option value="{{ step }}">{{ step }}</option> -->
                            {% endfor %}
                        </select>
                    </div>  
                </div>
            `;
            newCard.innerHTML = cardContent;
    
            olapCards.appendChild(newCard);
        }

        function addRollDownCard() {
            var olapCards = document.querySelector('.olap-cards');
    
            var newCard = document.createElement('div');
            newCard.classList.add('olap-card', 'form-group');
    
            var cardContent = `
                <h2 class="olap-title">Roll Down Command and Dimension Selection</h2>
                <div class="card-inner row">
                    <div class="col-3">
                        <label for="dimensionSelection">Choose Dimension(s):</label>
                        <select class="form-select btn btn-secondary btn-sm" id="dimensionSelection" name="dimensionSelection">
                            <option selected>select</option>
                            {% for table_name in table_names %}
                                <option value="{{ table_name }}">{{ table_name }}</option>
                            {% endfor %}
                        </select>
                        <!-- <div class="row col-3">
                            <button type="button" class="btn btn-outline-secondary">Add Dimension</button>
                        </div>     -->
                    </div>
                    
                    <div class="col-3">
                        <label for="dimFootsteps">Choose Dimension Footsteps:</label>
                        <select class="form-select btn btn-secondary btn-sm" id="dimFootsteps" name="dimFootsteps">
                            <option selected>select</option>
                            {% for row in footsteps %}
                                {% for key, value in row.items() %}
                                    <option value="{{ key }}">{{ key }}</option>
                                {% endfor %}
                                <!-- <option value="{{ step }}">{{ step }}</option> -->
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="col-3">
                        <label for="dimFootsteps">Choose Dimension Footsteps:</label>
                        <select class="form-select btn btn-secondary btn-sm" id="dimFootsteps" name="dimFootsteps">
                            <option selected>select</option>
                            {% for row in footsteps %}
                                {% for key, value in row.items() %}
                                    <option value="{{ key }}">{{ key }}</option>
                                {% endfor %}
                                <!-- <option value="{{ step }}">{{ step }}</option> -->
                            {% endfor %}
                        </select>
                    </div>  
                </div>
            `;
            newCard.innerHTML = cardContent;
    
            olapCards.appendChild(newCard);
        }

        function addDiceCard() {
            var olapCards = document.querySelector('.olap-cards');
    
            var newCard = document.createElement('div');
            newCard.classList.add('olap-card', 'form-group');
    
            var cardContent = `
                <h2 class="olap-title">Dice Command and Dimension Selection</h2>
                <div class="card-inner row">
                    <div class="col-3">
                        <label for="dimensionSelection">Choose Dimension(s):</label>
                        <select class="form-select btn btn-secondary btn-sm" id="dimensionSelection" name="dimensionSelection">
                            <option selected>select</option>
                            {% for table_name in table_names %}
                                <option value="{{ table_name }}">{{ table_name }}</option>
                            {% endfor %}
                        </select>
                        <!-- <div class="row col-3">
                            <button type="button" class="btn btn-outline-secondary">Add Dimension</button>
                        </div>     -->
                    </div>
                    
                    <div class="col-3">
                        <label for="dimFootsteps">Choose Dimension Footsteps:</label>
                        <select class="form-select btn btn-secondary btn-sm" id="dimFootsteps" name="dimFootsteps">
                            <option selected>select</option>
                            {% for row in footsteps %}
                                {% for key, value in row.items() %}
                                    <option value="{{ key }}">{{ key }}</option>
                                {% endfor %}
                                <!-- <option value="{{ step }}">{{ step }}</option> -->
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="col-3">
                        <label for="dimFootsteps">Choose Dimension Footsteps:</label>
                        <select class="form-select btn btn-secondary btn-sm" id="dimFootsteps" name="dimFootsteps">
                            <option selected>select</option>
                            {% for row in footsteps %}
                                {% for key, value in row.items() %}
                                    <option value="{{ key }}">{{ key }}</option>
                                {% endfor %}
                                <!-- <option value="{{ step }}">{{ step }}</option> -->
                            {% endfor %}
                        </select>
                    </div>  
                </div>
            `;
            newCard.innerHTML = cardContent;
    
            olapCards.appendChild(newCard);
        }
        
        function addSliceCard() {
            var olapCards = document.querySelector('.olap-cards');
    
            var newCard = document.createElement('div');
            newCard.classList.add('olap-card', 'form-group');
    
            var cardContent = `
                <h2 class="olap-title">Slice Command and Dimension Selection</h2>
                <div class="card-inner row">
                    <div class="col-3">
                        <label for="dimensionSelection">Choose Dimension(s):</label>
                        <select class="form-select btn btn-secondary btn-sm" id="dimensionSelection" name="dimensionSelection">
                            <option selected>select</option>
                            {% for table_name in table_names %}
                                <option value="{{ table_name }}">{{ table_name }}</option>
                            {% endfor %}
                        </select>
                        <!-- <div class="row col-3">
                            <button type="button" class="btn btn-outline-secondary">Add Dimension</button>
                        </div>     -->
                    </div>
                    
                    <div class="col-3">
                        <label for="dimFootsteps">Choose Dimension Footsteps:</label>
                        <select class="form-select btn btn-secondary btn-sm" id="dimFootsteps" name="dimFootsteps">
                            <option selected>select</option>
                            {% for row in footsteps %}
                                {% for key, value in row.items() %}
                                    <option value="{{ key }}">{{ key }}</option>
                                {% endfor %}
                                <!-- <option value="{{ step }}">{{ step }}</option> -->
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="col-3">
                        <label for="dimFootsteps">Choose Dimension Footsteps:</label>
                        <select class="form-select btn btn-secondary btn-sm" id="dimFootsteps" name="dimFootsteps">
                            <option selected>select</option>
                            {% for row in footsteps %}
                                {% for key, value in row.items() %}
                                    <option value="{{ key }}">{{ key }}</option>
                                {% endfor %}
                                <!-- <option value="{{ step }}">{{ step }}</option> -->
                            {% endfor %}
                        </select>
                    </div>  
                </div>
            `;
            newCard.innerHTML = cardContent;
    
            olapCards.appendChild(newCard);
        }

        function addPivotCard() {
            var olapCards = document.querySelector('.olap-cards');
    
            var newCard = document.createElement('div');
            newCard.classList.add('olap-card', 'form-group');
    
            var cardContent = `
                <h2 class="olap-title">Pivot Command and Dimension Selection</h2>
                <div class="card-inner row">
                    <div class="col-3">
                        <label for="dimensionSelection">Choose Dimension(s):</label>
                        <select class="form-select btn btn-secondary btn-sm" id="dimensionSelection" name="dimensionSelection">
                            <option selected>select</option>
                            {% for table_name in table_names %}
                                <option value="{{ table_name }}">{{ table_name }}</option>
                            {% endfor %}
                        </select>
                        <!-- <div class="row col-3">
                            <button type="button" class="btn btn-outline-secondary">Add Dimension</button>
                        </div>     -->
                    </div>
                    
                    <div class="col-3">
                        <label for="dimFootsteps">Choose Dimension Footsteps:</label>
                        <select class="form-select btn btn-secondary btn-sm" id="dimFootsteps" name="dimFootsteps">
                            <option selected>select</option>
                            {% for row in footsteps %}
                                {% for key, value in row.items() %}
                                    <option value="{{ key }}">{{ key }}</option>
                                {% endfor %}
                                <!-- <option value="{{ step }}">{{ step }}</option> -->
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="col-3">
                        <label for="dimFootsteps">Choose Dimension Footsteps:</label>
                        <select class="form-select btn btn-secondary btn-sm" id="dimFootsteps" name="dimFootsteps">
                            <option selected>select</option>
                            {% for row in footsteps %}
                                {% for key, value in row.items() %}
                                    <option value="{{ key }}">{{ key }}</option>
                                {% endfor %}
                                <!-- <option value="{{ step }}">{{ step }}</option> -->
                            {% endfor %}
                        </select>
                    </div>  
                </div>
            `;
            newCard.innerHTML = cardContent;
    
            olapCards.appendChild(newCard);
        }
    </script>
{% endblock %}
