<h2 class="olap-title">Slice Command and Dimension Selection</h2>
    <div class="card-inner row">
        <div class="col-3">
            <label for="dimensionSelection">Choose Dimension(s):</label>
            <select class="form-select btn btn-secondary btn-sm" id="dimensionSelection" name="dimensionSelection">
                <option selected>select</option>
                {% for table_name in table_names %}
                    <option value="{{ table_name }}">{{ table_name }}</option>
                {% endfor %}
            </select>
            <!-- <div class="row col-3">
                <button type="button" class="btn btn-outline-secondary">Add Dimension</button>
            </div>     -->
        </div>
        
        <div class="col-3">
            <label for="dimFootsteps">Choose Dimension Footsteps:</label>
            <select class="form-select btn btn-secondary btn-sm" id="dimFootsteps" name="dimFootsteps">
                <option selected>select</option>
                {% for row in footsteps %}
                    {% for key, value in row.items() %}
                        <option value="{{ key }}">{{ key }}</option>
                    {% endfor %}
                    <!-- <option value="{{ step }}">{{ step }}</option> -->
                {% endfor %}
            </select>
        </div>
        
        <div class="col-3">
            <label for="dimFootsteps">Choose Dimension Footsteps:</label>
            <select class="form-select btn btn-secondary btn-sm" id="dimFootsteps" name="dimFootsteps">
                <option selected>select</option>
                {% for row in footsteps %}
                    {% for key, value in row.items() %}
                        <option value="{{ key }}">{{ key }}</option>
                    {% endfor %}
                    <!-- <option value="{{ step }}">{{ step }}</option> -->
                {% endfor %}
            </select>
        </div>  
    </div>