<h2 class="olap-title">Slice Command and Dimension Selection</h2>
    <div class="card-inner row">
        <div class="col-3">
            <label for="slice">OLAP:</label>
            <select class="btn btn-light" id="slice" name="slice">
                <option selected>Roll Up<option></select>
        </div>
        <div class="col-3">
            <label for="timeSlice">Choose Time Footstep Values:</label>
            <select class="form-select btn btn-secondary btn-sm" id="timeSlice" name="timeSlice">
                <option selected>select</option>
                {% for row in time_footsteps %}
                    {% for key, value in row.items() %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                    <!-- <option value="{{ step }}">{{ step }}</option> -->
                {% endfor %}
            </select>
        </div>  
        <div class="col-3">
            <label for="degreeSlice">Choose Degree Footstep Values:</label>
            <select class="form-select btn btn-secondary btn-sm" id="degreeSlice" name="degreeSlice">
                <option selected>select</option>
                {% for row in degree_footsteps %}
                    {% for key, value in row.items() %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                    <!-- <option value="{{ step }}">{{ step }}</option> -->
                {% endfor %}
            </select>
        </div>  

        <div class="col-3">
            <label for="gparankSlice">Choose GPARank Footstep Values:</label>
            <select class="form-select btn btn-secondary btn-sm" id="gparankSlice" name="gparankSlice">
                <option selected>select</option>
                {% for row in gparank_footsteps %}
                    {% for key, value in row.items() %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                    <!-- <option value="{{ step }}">{{ step }}</option> -->
                {% endfor %}
            </select>
        </div>  

        <div class="col-3">
            <label for="statusSlice">Choose Status Footstep Values:</label>
            <select class="form-select btn btn-secondary btn-sm" id="statusSlice" name="statusSlice">
                <option selected>select</option>
                {% for row in status_footsteps %}
                    {% for key, value in row.items() %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                    <!-- <option value="{{ step }}">{{ step }}</option> -->
                {% endfor %}
            </select>
        </div>  
        
    </div>